.board {
	position: absolute;
	width: 25vh;
	height: 25vh;
	top: 25vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #3b3b3b;
	display: grid;
	grid-gap: 1px;

	.cell {
		background-color: #68629e;
		margin-left: 1px;
		margin-top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
	}
}

.game-ended {
	color: #68629e;
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	text-align: center;
}

.restart-game {
	color: #a79ff0;
	margin-top: 24px;
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
